<form class="recipeForm">
    <div class="form-group">
        <label class="control-label">Recipe Title</label>
        <input type="text" class="input-control" id="titleInput" />
    </div>

    <div class="form-group">
        <label class="control-label">Image Url</label>
        <input type="text" class="input-control" id="imageUrlInput" />
    </div>
    <div class="image-preview">
        <img id="imgPreview" src="" alt="">
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <textarea class="input-control" rows="5" id="descriptionInput" value=""></textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Ingredients</label>
        <textarea class="input-control" rows="7" id="ingredientsInput"></textarea>
    </div>

    <div class="buttons-group">
        <button type="button" class="btn" id="submitBtn"><span>Save</span></button>
        <button type="button" class="btn" id="cancelBtn"><span>Cancel</span></button>
    </div>
</form>
