<div class="add-new-recipe">
    <button id="addRecipe" class="btn" type="button"><span>Add New Recipe</span></button>
</div>

<div class="recipes-list-container">

</div>

<div id="addRecipeForm" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="closeAddForm">&times;</span>
        <article class="main-content">
            <header>
                <h1>Add Recipe</h1>
            </header>
            <div class="form-group">
                <label>Recipe Title</label>
                <input type="text" value="" class="input-control" id="addFormTitleInput" placeholder="Add your title..." />
            </div>
            <div class="form-group">
                <label>Image URL</label>
                <input value="" type="text" class="input-control" id="addFormImageInput" placeholder="Add your image url..." />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="input-control" rows="10" id="addFormDescInput" placeholder="Add your description..."></textarea>
            </div>
            <div class="form-group">
                <label>Ingredients</label>
                <textarea class="input-control" rows="7" id="addFormIngrInput" placeholder="Add ingredients..."></textarea>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <button type="button" class="btn" id="addFormAddRecipeBtn"><span>Add Recipe</span></button>
            </div>
        </article>
    </div>
</div>

