<div class="recipe-desc-main">
    <div class="recipe-desc">
        <figure>
            <!-- this image src will be removed, as the images' paths will come from the database -->
            <img class="recipe-image" src="./assets/images/foodImage.jpg" alt="Image of recipe" />
            <!-- we may review the recipe by clicking this tag and pop up will show, remove if we won't need it -->
            <a href="#" id="recipe-time" class="tag">Ready in 40 min</a> 
        </figure>
        <div class="recipe-desc-inner">
            <h1 id="recipe-title">Recipe Title</h1>
            <p id="recipe-decription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci
                omnis hic quaerat.
                <br/> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde
                adipisci omnis hic quaerat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet
                atque doloremque velit unde adipisci omnis hic quaerat.
            </p>
            <div class="recipes-ingredients">
                <h2>INGREDIENTS:</h2>
                <!-- if we store the ingredients as values we will use unordered list and spans-->
                <div id="recipe-ingredients">
                    <ul id="ingredients-list">
                        <li><span>atque doloremque velit unde adipisci r</span></li>
                        <li><span>Lorem ipsum dolor</span></li>
                        <li><span>Lorem ipsum dolor</span></li>
                        <li><span>atque doloremque velit unde adipisci r</span></li>
                        <li><span>Lorem ipsum dolor</span></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
