<!-- Component -->
<div class="navbar-component">
    <!-- Class `area` is a container -->
    <div class="navbar area">
        <!-- Logo -->
        <h1 class="logo">
            <a href="#home">RECIPES BOOK</a>
        </h1>
        <!-- List of links -->
        <nav id="navigation" class="list">
            <a href="#home" class="item link">Home</a>
            <a href="#recipes" class="item link">Recipes</a>
            <span class="search"></span>
        </nav>
        <!-- Button to toggle the display menu  -->
        <button class="toggle">
            <!-- Hamburger icon -->
            <span class="icon"></span>
          </button>
    </div>
</div>
