.recipes-component {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin: 0 auto 0 auto; */
    /* justify-content: space-around; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .recipes-component {
        flex-wrap: wrap;
    }
}

.recipes-list-component {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1 1 50%;
    max-height: 80vh;
    padding: 0 5% 0 5%;
    min-width: 375px;
    max-width: 550px;
}

.recipe-details-component {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1 1 50%;
    height: 80vh;
    padding: 0 5% 0 5%;
    min-width: 375px;
    max-width: 550px;
}

@media (max-width: 768px) {
    .recipes-list-component{
        min-width: 375px;
        max-width: 450px;
    }
    .recipe-details-component{
        min-width: 375px;
        max-width: 450px;
    }
}

@media (min-width: 768px) {
    .recipes-list-component{
        min-width: 375px;
        max-width: 450px;
    }
    .recipe-details-component{
        min-width: 375px;
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    .recipes-list-component{
        min-width: 375px;
        max-width: 460px;
    }
    .recipe-details-component{
        min-width: 375px;
        max-width: 460px;
    }
}

@media (min-width: 1200px) {
    .recipes-list-component{
        min-width: 375px;
        max-width: 500px;
    }
    .recipe-details-component{
        min-width: 375px;
        max-width: 500px;
    }
}


@media (min-width: 1400px) {
    .recipes-list-component{
        min-width: 375px;
        max-width: 530px;
    }
    .recipe-details-component{
        min-width: 375px;
        max-width: 530px;
    }
}

@media (min-width: 1700px) {
    .recipes-list-component{
        min-width: 375px;
        max-width: 30%;
    }
    .recipe-details-component{
        min-width: 375px;
        max-width: 30%;
    }
}
