.recipes-list-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    overflow-y: auto;
    padding: 5px;
}

.add-new-recipe {
    flex: 1 1;
}

.foodBox {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    margin: 2px 2px 5px 2px;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
    color: #555555;
    height: 3.5em;
}

.texts {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 80%;
}

.foodBox .texts h3 {
    color: #34495e;
    font-size: 1.1em;
    align-self:start;
}

 .foodBox .texts p {
    color: #555555;
    font-size: 0.85em;
    align-self:center;
 }

.foodBox.active {
    background-color: #34495e;
    color: white;
}

.foodBox.active h3 {
    color: #fff;
}


.foodBox .image {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
}

.foodBox .image img {
    /* display: none; */
    flex: 0 0 100%;
    /* height: 100%; */
    width: 100%;
}